.heading {
   font-size: 23px; 
   width: 100%;
   margin: 0px;
   box-shadow: 5px 5px 5px grey;
}

.note{
    color: black;
    font-size: 15px;
}

.copy_right_footer {
    bottom: 0;
    width: 100%;
    background-image: repeating-linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    line-height: 2;
    text-align: center;
    color: white;
    position: fixed;
}

canvas {
    border:5px solid white;
    border-radius:20px;
    box-shadow:5px 5px 5px grey
}